<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Logout</title>
<style>
body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSC2v_1sdy_VFqDxTuBTm-horgioQ5LC_hxCMGFAELoNusxsdXG_UOUUykKX8flEs6-2Y&usqp=CAU') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size:Â cover;
}
b{
 
 }
</style>

</head>
<body>
<h1>Logout</h1>
<p> Thank You For Visiting Us</p>

</body>
</html>